{% render "CAFFrontBundle:Module:generateBloc" with {'position': "bottom", 'unique':1, 'lang':lang, 'cat_id':cat_id, 'item_id':item_id, 'cats': cats} %}

<div class="copyright">
	&copy; Crédit Agricole Financement (Suisse) SA 2012 - Tous droits réservés
</div>