<div class="middle_block span10 border">
				<div class="article_gn">
					<h2 class="title_bms">Accueil</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae arcu metus. Aenean velit sem, sodales nec ullamcorper vitae, sollicitudin vel eros. Nam id magna eros. Nunc eget elit vitae dolor consectetur laoreet. Suspendisse vitae semper turpis. Etiam justo est, volutpat tincidunt dignissim vehicula, tincidunt quis diam. Nam vel lacus arcu, accumsan rutrum eros. Phasellus a accumsan nulla. Nullam sagittis accumsan ante. Sed risus mauris, luctus eu ornare in, convallis vitae nisl. In hac habitasse platea dictumst. Curabitur rutrum dignissim libero, ac elementum ligula tempus id. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas dictum nibh nec mi lacinia accumsan. Vivamus et ultricies arcu. Praesent ultrices iaculis sollicitudin.</p>

					<p>Nullam semper sem metus, in imperdiet enim. Ut laoreet magna in nisl interdum a consequat urna rutrum. Praesent libero mauris, pellentesque in porta blandit, vulputate a libero. Sed molestie velit non urna laoreet ultricies. Duis suscipit erat in velit ultrices lacinia. Quisque et tincidunt justo. Sed arcu magna, bibendum sed sollicitudin vel, sodales et tellus. Cras gravida mauris vitae dui egestas in ullamcorper risus vulputate. Nulla facilisi. Donec enim ligula, pellentesque id sagittis porta, pretium id eros. Morbi nec ante fringilla felis pharetra tempor. Aenean eu orci orci. </p>

				</div>
			</div>