<div class="middle_block span30">
	<div class="text_centered">
		<p><img src="{{ asset('bundles/caffront/images/logo_404.jpg') }}" /></p>
		<p>La page que vous recherchez a été déplacé, supprimé ou n'existe pas</p>
		<div class="blocgris">
			<a href="{{ app.request.getBaseURL() ~ "/fr/fr" }}"><img src="{{ asset('bundles/caffront/images/home.png') }}" /> Retourner à la page d'accueil</a>
		</div>
	</div>
</div>	